<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">

</head>
<body>
    <div class="login-box">
        <div class="row">
            <img src="https://raw.githubusercontent.com/obliviate-dan/Login-Form/master/img/avatar.png" alt="">
        </div>
        <h2>Login</h2>
        <form action="">
            <div class="user-box">
                <input type="text">
                <label for=""><i class="fa fa-user" aria-hidden="true"></i>Username</label>
            </div>
            <div class="user-box">
                <input type="password">
                <label for=""><i class="fa fa-unlock" aria-hidden="true"></i>Password</label>
            </div>
            <span class="myClass"><a href="#"></a></span>
        </form>
    </div>
</body>
</html>